/*nav y footer para contacto, blog y sillas*/
/*correr el sass:  npm run contact-css o npm run cont-css*/
.header_contact{
    color:#425465;
    font-family: 'Advent Pro', sans-serif;
    background-position: left;
    position: inherit;
    margin-top: -3rem;
}
.nav-menu-contact{
    background: white;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding-right: 14rem;
    padding-top: 3rem;
}
.nav-menu-contact ul {
    display: flex;
    padding-bottom: 3rem;
}
.nav-menu-contact ul li {

    padding: 1rem;
}

.nav-menu-contact ul li a {
    padding: 5px
}

.nav-menu-contact ul li a:hover {
border-bottom: solid rgb(0, 0, 0) 2px;
}
.nav-logo-contact{
    margin-top: -3rem;
    width: 10rem;
    justify-content: start;
    height: 10rem;

}
.body-contact{
background:antiquewhite;
margin:0;

}
.h2__contact{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c;
}
.form{
    width: 340px;
    height: 44rem;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    position: relative;
    align-items: center;
}
input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2
    
}
input:focus{
    border-bottom:2px solid #78788c
}
.button__contact:hover{background:#78788c;color:#fff}

.button__contact{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;color:#5a5a6e;
    cursor:pointer;transition:all .3s;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.div__contact{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding: 20px;
}
.edad
{
    height: 5rem;
}
.radio{
    position: absolute;
}
.contact_me{
    position: absolute;
    bottom: -2rem;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
    padding-top: 20px;
    font-family: 'Oswald';
    text-align: center;
}
.span_contact{
    margin:0 5px 0 15px;

}

/*Para celular!*/
@media (max-width:700px ) {
    .nav-menu-contact ul {
        display: flex;
        /* padding-bottom: 3rem; */
        margin: -5rem;
        padding-top: 3rem;
    }
    .header_contact {
        color: #425465;
        font-family: 'Advent Pro', sans-serif;
        position: inherit;
        margin-top: -6rem;
        display: flex;
        font-size: 15px;
    }
    a {
        color: #425465;
        text-decoration: slategray;
        height: inherit;
    }
    .nav-menu-contact ul li {
        /* padding: 1rem; */
        font-size: 1rem;
        padding-top: 3rem;
    }
    .nav-menu-contact ul li {
         padding: 0rem; 
    }
}