@import '_variables';
/*para correr en sass: npm run main-css */
/*index y nosotros.html en bootstrap*/
.body_index{
  background-color: antiquewhite;
}
.navbar {
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    opacity: 0.9;
  }
  
  .navbar .nav-item .nav-link {
    color: rgb(254, 4, 4);
  }
  
  
  .main-header {
    position: relative;
    color: antiquewhite;
  }
  
  .background-overlay {
    background: antiquewhite;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .form-control, .btn{
    border-radius: 0;
  }
  
  .team, footer {
    background-color: #425465;
  }
  a{
    color: black;
  }
  h1{
    color: #425465;
    font-size: 3rem;
  }
  p{
    color: black;
  }
  h2{
    color: white;
    text-align: center;
    justify-content: center;
  }
  .p__about{
    color: antiquewhite;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
  }
  .newsletter {
    background-color: #425465;
    height: 150px;
  }
  h3{
    color: antiquewhite;
  }
  .py-3 {
    background-color: #425465;
  }
  .card{
    background-color: white;
    height: 10rem;
    border-radius: 3rem;
    margin-top: 1rem;
  }
  .h3-card{
    color: #425465;
  }
  .container-fluid{
    background: url(../img/FONDOBUTACAS.png);
  }
  .card-max{
    height: 25rem;
    border-radius: 3rem;
    margin-top: 1rem;
  }
  .boton1{
   
    border-radius: 2rem;
    text-align: center;
    justify-content: center;
    width: 10rem;
  }
  .p-box{
   
    font-size: 1.2rem;
  }
  .h3-box{
    padding-top: 2rem;
  }
  .location{
    height: 2rem;
  }
  .cohete{
    height: 3rem;
  }
  .argentina{
    height: 8rem;
    display: flex;
    padding-left: 3rem;
  }
  .andreani{
    height: 7rem;
    display: flex;
    
  }
  @media (max-width: 990px){
    .argentina{
      height: 5rem;
      display: flex;
      margin-left: -10px;
    
      
    }
    .andreani{
      height: 5rem;
      display: flex;
      
      
    }
  }
  @media (max-width: 768px){
    .argentina{
      height: 6rem;
      display: flex;
      margin-left: -10px;
    
      
    }
    .andreani{
      height: 6rem;
      display: flex;
      
      
    }
  }
  @media (max-width: 430px){
    .argentina{
      height: 5rem;
      display: flex;
      
    
      
    }
    .andreani{
      height: 5rem;
      display: flex;
      
      
    }
  }
  @media (max-width: 390px){
    .argentina{
      height: 4rem;
      display: flex;
      
    
      
    }
    .andreani{
      height: 4rem;
      display: flex;
      
      
    }
  }
  @media (max-width: 330px){
    .argentina{
      height: 3rem;
      display: flex;
      
    
      
    }
    .andreani{
      height: 3rem;
      display: flex;
      
      
    }
  }
  .section-2{
    margin-top: 2rem;
  }
  .p-5{
    justify-content: center;
    text-align: center;
  }
  
  .h2-questions{
    color: #425465;
    font-weight: 600;
  }
  .p__nosotros{
  font-size: 1.3rem;
  text-align: left;
  }
  .span__p{
    text-decoration: underline;
  }
  a :hover{
    border-bottom: solid rgb(0, 0, 0) 2px;
  }
  li.nav-item :hover{
    border-bottom: solid rgb(0, 0, 0) 2px;
  }
  .p__footer{
    color: aliceblue;
    font-size: 1.1rem;
  }
  .h3__nosotros{
    color: #425465;
  }
  .carousel{
   height: 35rem;
   width: 63rem;
   border-radius: 2rem;
  
   border-left: black solid 2px;
   border-right:black solid 2px ;
    background-color: antiquewhite;
    
    
    justify-content: center;
  }

  .carousel-item{
   
   width: 25rem;
   height: 30rem;
    align-content: center;
   }
   .d-block{
     align-items: center;
     height: 30rem;
     width: 25rem;
     margin: auto;
     border-radius: 2rem;
     
   }
   .carousel-control-next,
   .carousel-control-prev , .carousel-indicators  {
       filter: invert(100%);
   } 
   .iconos_footer {
     padding: 2px;
   }
   .h2_carousel{
     color: #425465;
     font-family: fantasy;
     font-size: 1.8rem;  
   }
   .h5_carousel{
     border: #425465 solid 2px ;
     text-shadow: 1px 1px 2px black;
   }
   .newsletter{
     height: 10rem;
   }

   @media (max-width: 700px){
     .imagen_contacto{
       width: 17rem;
       align-items: center;
     }
     .newsletter{
      height: 15rem;
    }
   }
   @media (max-width: 770px){
  
    .newsletter{
     height: 15rem;
   }
  }
   @media (max-width: 400px){
    .imagen_contacto{
      width: 14rem;
      align-items: center;
    }
    .carousel{
      height: 16rem;
      width: 16rem;
      border-radius: 2rem;
  
      border-left: black solid 2px;
      border-right:black solid 2px ;
       
      justify-content: center;
     }
     .carousel-item{
   
      width: 12rem;
      height: 16rem;
       align-content: center;
      }
      .d-block{
        align-items: center;
        height: 14rem;
        width: 9rem;
        margin: auto;
        border-radius: 2rem;
        
      }
     .h2_carousel{
      color: #425465;
      font-family: fantasy; 
      font-size: 0.8rem; 
    }
  }
  @media (max-width: 580px){
   
    .carousel{
      height: 20rem;
      width: 20rem;
      border-radius: 2rem;
      border-left: black 2px solid;
      border-right: black 2px solid;
      
       background-color: antiquewhite;
       
       
       justify-content: center;
     }
     .carousel-item{
   
      width: 12rem;
      height: 18rem;
       align-content: center;
      }
      .d-block{
        align-items: center;
        height: 17rem;
        width: 11rem;
        margin: auto;
        border-radius: 2rem;
        
      }
     .h2_carousel{
      color: #425465;
      font-family: fantasy; 
      font-size: 1rem; 
    }
  }

  //blog
  .container__blog {
    display: flex;
    justify-content: center; }
  
  .iframe {
    width: 1000px;
    height: 600px;
    padding-bottom: 20px; }
    .body_blog{
      background-color: antiquewhite;
    }
    //sillas
    .section_sillas{
     height: 50rem;
    }
    .btn-buy{
      width: 15rem;
    }
    @media (max-width: 970px){
  
      .section_sillas{
        height: 110rem;
      }
     }
     @media (max-width: 767px){
  
      .section_sillas{
        height: 160rem;
      }
     }
     @media (max-width: 576px){
  
      .section_sillas{
        height: 170rem;
      }
     }
     @media (max-width: 500px){
  
      .section_sillas{
        height: 155rem;
      }
     }
     @media (max-width: 400px){
  
      .section_sillas{
        height: 130rem;
      }
     }
     @media (max-width: 330px){
  
      .section_sillas{
        height: 120rem;
      }
     }
     .h2_sillas{
       color: #425465;
       text-decoration: underline black;
       padding-top: 10px;
     }
     //nosotros html

     .map-container{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
    }
    .map-container iframe{
      left:0;
      top:0;
      height:40rem;
      width:80rem;
      position:absolute;
      justify-content: center
    }
    .h2-maps{
      @extend .h2_carousel;
      font-weight: 700;
      text-decoration: underline #425465;
      padding-top: 30px;
    }
    @media(max-width:2100px){
      .map-container-google-1{
        height: 500px;
      }
    }

    @media(max-width:1200px){
      .map-container{
        height: 700px;
      }
    }
    @media (max-width:370px){
      .map-container{
        height: 900px;
      }
      .footer-nosotros{
        padding-top: 20rem;
      }
    }

  