$FontSizeBody: 1rem;
$FontSizeH1: 2.5rem;
$ColorBody:black;
$Color_a:#425465;
$border-nav-menu-a: solid rgb(0, 0, 0) 2px;
$width:700px;
$estilos_h1:(
    color: #425465,
    font-family: 'Advent Pro' sans-serif,
    font-weight: 800,
    display: flex,
    justify-content: center,
   
);
$estilos_h3:(
    font-family: 'Oswald' sans-serif,
    font-weight: 400,
);

$estilos_h2:(
color:#425465,

);
