//css viejo general, que se implemento mixin, extend y get-map
@import "_variables";
/*estilos para blog, sillas y contact*/
/*correr el sass: npm run watch-css */
@mixin sizes($w,$h) {
    width: $w ;
    height: $h;
    //utilizado en la linea 605 .iframe
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
background-color: antiquewhite;
color: $ColorBody;
font-size: $FontSizeBody;
font-family: 'Oswald';
}


h1{
    color: map-get($estilos_h1 ,color );
    font-family: map-get($estilos_h1 ,font-family );
    font-weight: map-get($estilos_h1 ,font-weight );
    display: map-get($estilos_h1 ,display );
    justify-content: map-get($estilos_h1 ,justify-content );
    position: absolute;
    left: 35rem;
    top: 2rem;
    font-size: $FontSizeH1;
}

h3{
    font-family:map-get($estilos_h3 ,font-family );
    font-weight: map-get($estilos_h3 ,font-weight );
    
}

h2{
color: map-get($estilos_h2 ,color );
}


.container { 
margin-left: -18rem;

}

ul {
    list-style: none;
}

a{
    color: $Color_a;
    text-decoration: slategray;
}
.nav-menu {
    background: white;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding-right: 14rem;
    padding-top: 3rem;

}





.menu-btn{
    position: absolute;
    cursor:pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
}
.nav-logo {
    width: 30%;
    justify-content: start;
    padding-bottom: 2.6rem;
    position: relative;
    left: 10rem;
  

}
.nav-menu ul {
    display: flex;
    padding-bottom: 3rem;
}


.nav-menu ul li a {
    padding: 5px
}

.nav-menu ul li a:hover {
border-bottom: $border-nav-menu-a;
}

.container__first {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.container__first__h3{
    position: absolute;
    width: 430px;
    top: 30%;
    left: 60rem;
    font-family: 'Advent Pro', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}
.container__first__h2{
    position: absolute;
    width: 780px;
    top: 35%;
    left: 60rem;
    font-size: 2.3rem;
    font-weight: 500;
    


}
.container__first__img{
    height: 45rem;
    padding-right: 31rem;
    margin-top: -6rem;
}


.container__first__p {
    position: absolute;
    width: 32rem;
    top: 45%;
    left: 67.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Oswald';
    text-align: left;
}

.line {
    margin-bottom: 2.8rem;
    width: 100%;
    color: gray;
    border-width: 3px;
   

}
.container__first__btn__1{
    font-family: 'Oswald', sans-serif;
    position: absolute;
    width: 780px;
    top: 57%;
    left: 52rem;
    font-size: 30px;
    font-weight: 500;

}
.container__first__btn__2{
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 64%;
    left: 68.8rem;
    font-size: 30px;
    font-weight: 500;
   

}
.boton1 {
    letter-spacing: 2px;

    border: 1px solid rgb(34, 34, 41); /*anchura, estilo y color borde*/
    background-color: #121418; /*color botón*/
    color: #ffffff; /*color texto*/
    transition: all 1s ease;
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 4rem; /*bordes redondos*/
    padding: 11px 48px 12px 46px;
    cursor: pointer;
}
.boton2 {
    letter-spacing: 2px;
    border: 1px solid #425465;
    background-color: #425465;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 4rem;
    padding: 11px 48px 12px 46px;
    cursor: pointer;
    transition: all 1s ease;
    
}
.boton1:hover {
    background: #292c2ea8;
  color: #fff !important;
}
.boton2:hover {
    background: #292c2ea8;
  color: #fff !important;
}
.container__second {
    background-position: 50% 50%;
    margin: -6rem;
    padding-left: 18.9rem;
    width: 100%;
}

.container__second__frame1{
    background-color: #ffffff;
    color: black;
    display: flex;
    position: absolute;
    top: 60rem;
    left: 10rem;
    height: 30rem;
    width: 30rem;
    border-radius: 4rem;
   
}
.container__socend__frame1__header{
    justify-items: center;
    height: 6rem;
    display: flex;
    position: absolute;
    left: 2.5rem;
    padding-top: 5rem;
    font-family: 'Oswald';
    font-size: 2.5rem;
    width: 25rem;
    color: #425465;
    text-align: center;
}
.container__second__parrafo{
    justify-items: center;
    height: 6rem;
    display: flex;
    position: absolute;
    left: 12.5rem;
    font-family: 'Oswald';
    font-size: 1.3rem;
    width: 25rem;
    color: black;
    text-align: center;
    top: 73rem;
}

.container__second__parrafo2{
    
    justify-items: center;
    height: 6rem;
    display: flex;
    position: absolute;
    left: 18rem;
    font-size: 1rem;
    width: 25rem;
    color: #425465;
    text-align: center;
    top: 80rem;
}
.container__second__button {
    
    letter-spacing: 2px;
    border: 1px solid rgb(34, 34, 41);
    background-color: #425465;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    border-radius: 2rem;
    width: 14rem;
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 1s ease;
}
.container__second__button:hover{
    background-color: rgba(41, 38, 33, 0.418);
}
.container__second__frame2{
    background-color: #ffffff;
    color: black;
    display: flex;
    position: absolute;
    top: 60rem;
    left: 57rem;
    height: 30rem;
    width: 30rem;
    border-radius: 4rem;
}
.container__second__frame2{
    background-color: #ffffff;
    color: black;
    display: flex;
    position: absolute;
    top: 60rem;
    left: 57rem;
    height: 30rem;
    width: 30rem;
    border-radius: 4rem;
}
.container__second__frame2__header {
    justify-items: center;
    height: 6rem;
    display: flex;
    position: absolute;
    left: 6rem;
    padding-top: 5rem;
    font-family: 'Oswald';
    font-size: 2.5rem;
    width: 25rem;
    color: #425465;
    text-align: center;
}
.container__second__parrafo3 {
    justify-items: center;
    height: 6rem;
    display: flex;
    position: absolute;
    left: 62rem;
    padding-top: rem;
    font-family: Oswald, sans-serif;
    top: 70rem;
    font-size: 1.7rem;
    width: 25rem;
    color: black;
    text-align: center;
    
}
.location {
    justify-items: center;
    height: 3rem;
    display: flex;
    position: absolute;
    left: 59rem;
    padding-top: rem;
    font-family: Oswald, sans-serif;
    top: 70rem;
    width: auto;
}
.container__second__frame2__header2 {
    justify-items: center;
    height: 6rem;
    display: flex;
    position: absolute;
    left: 62rem;
    top: 75rem;
    font-family: 'Oswald';
    font-size: 2.5rem;
    width: 25rem;
    color: #425465;
    text-align: center;
}
.cohete{
    justify-items: center;
    height: 4rem;
    display: flex;
    position: absolute;
    left: 58rem;
    top: 75rem;
    width: auto;
}
.argentina {

    justify-items: center;
    height: 10rem;
    display: flex;
    position: absolute;
    left: 62rem;
    top: 79rem;
    width: auto;
}
.andreani {
    justify-items: center;
    height: 6rem;
    display: flex;
    position: absolute;
    left: 69rem;
    top: 81rem;
    width: auto;
}

.container__section{
    height: 35rem;
    background-color: #ffffff;
    margin-top: 5.8rem;
    align-items: center;
}

.container__section__header1 {
    justify-content: flex-start;
    text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
    font-family: 'Oswald';
    color: #425465;
    display: flex;
    margin-left: 20rem;
    width: 45rem;
    letter-spacing: 0.2rem;
    display: inline-block;

}
.container__section__subheader1 {
    justify-content: flex-start;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Oswald';
    color: #000000;
    display: flex;
    padding-top: 8rem;
    width: 50rem;
    letter-spacing: 0.2rem;
    display: inline-block;
    font-weight: 500;
    margin-left: 13rem;

}
.container__section__description {
    justify-content: flex-start;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Oswald';
    color: #4d4c4c;
    padding-top: 1rem;
    width: 35rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    font-weight: 400;
    margin-left: 25rem;
}
.container__section__sign {
    background-color: antiquewhite;
    color: black;
    height: 30rem;
    width: 35rem;
    border-radius: 2rem;
    display: inline-block;
    position: absolute;
    top: 100.5rem;
    left: 50rem;

}
.container__section__sign__columns{
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 30rem;
    grid-gap: 10px;
    display: grid;
}
.porcent{
    font-weight: 700;
    font-size: 4.5rem;
    margin: 0;
    font-family: 'Oswald';
    text-align: center;
    padding-top: 30px;
    color: #425465;

}
.porcent__parraf {
    color: #999999;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    margin: 9px 0 0;
    font-family: 'Oswald';
    width: 15rem;
    padding-left: 2rem;
    letter-spacing: 1.7px;
}
.porcent2{
    font-weight: 700;
    font-size: 4.5rem;
    margin: 0;
    font-family: 'Oswald';
    text-align: center;
    color: #425465;
}
.footer {
    height: 12rem;
    width: 100%;
    background:white;
}
.footer__img{
      justify-content: flex-start;
      display: inline-block;
      padding-left: 2rem;
}
.footer__img__logo {
    height: 12rem;
}
.footer_horarios{
    font-family: 'Oswald';
    text-align: center;
    display: inline-grid;
    position: absolute;
    left: 73rem;
    padding-top: 4rem;
    font-size: 1.5rem;
}
.footer__social {
    font-family: 'Oswald';
    font-size: 2rem;
    color: #425465;
    text-align: center;
    display: inline-grid;
    position: absolute;
    padding-top: 4rem;
    left: 35rem;
}
.conatiner__nosotros__parraf{
    font-family: 'Oswald';
    text-align: left;
    font-size: 1.3rem;
    width: 95%;
    padding-left: 1rem;
}
.container__nosotros{
margin-bottom: 14.3rem;
}

.header__sillas{
    font-family: "Advent Pro";
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}
.CardProduct{
    width: 350px;
    display: inline-block;
    padding-top: 30px;
    padding-left: 10px;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    align-items: center;
    justify-items: center;
    margin-left: 7rem;
   margin-bottom: 20px;

}
.CardProduct__image{
    width: 100%;
}
.CardProduct__description__header{
margin-top: 10px;
margin-bottom: 10px;
text-align: center;
font-family: 'Oswald';
font-size: 1.3rem;
}
.CardProduct__description__price{
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    color: rgb(209, 3, 3);

}
a{
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    color: #425465;
        
}
.CardProduct__description__action{
    @extend a;
    background-color: skyblue;
    border-radius: 3rem;
    width: 60%;
    margin-left: 60px;
    padding-bottom: 10px;
   
}

.video{
    width: 60%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.body_blog{
    background-color: black;
}
.container__blog{
    display: flex;
    justify-content: center;
}
.iframe{
   @include sizes(1000px,600px );
    padding-bottom: 20px;
}


/*Para celular!*/
@media (max-width:700px ) {
  h1{
    color: #425465;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 27rem;
    top: 2rem;
    font-size: 1.2rem;
  }

    .nav-menu {
        background: white;
        font-size: 1 rem;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        height: 7rem;
        padding-top: 3rem;
        padding-right: rem;
        padding-right: 1rem;
        width: 800px;
    }
    .nav-logo {
        width: 30%;
        justify-content: start;
        padding-bottom: 2.6rem;
        position: relative;
        left: 10rem;
        display: inline-block;
    }
    .nav-menu ul {
        display: flex;
        margin: auto;
        padding-right: 8rem;
    }
    .line {
        
        width: 100%;
        color: gray;
        border-width: 3px;
    }
    .container__first__h3 {
        position: absolute;
        top: 70%;
        right: 6rem;
        font-family: 'Advent Pro', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        top: 15rem;
    }
    .boton1 {
        /* letter-spacing: 2px; */
        border: 1px solid rgb(34, 34, 41);
        background-color: #121418;
        color: #ffffff;
        transition: all 1s ease;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Helvetica', sans-serif;
        border-radius: 4rem;
        padding: 8px 5px 5px 5px;
        cursor: pointer;
    }
    .container__first__btn__1 {
        font-family: 'Oswald', sans-serif;
        position: absolute;
        width: 780px;
        top: 70%;
        left: 5rem;
        font-size: 30px;
        font-weight: 500;
    }
    .container__first__p {
        position: absolute;
        width: 20rem;
        top: 56%;
        left: 19rem;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: 'Oswald';
        color: burlywood;
        text-shadow: black;
        text-shadow: 1px 1px 2px black;
        text-align: center;
    }
    .container__first__btn__2 {
        font-family: 'Oswald', sans-serif;
        position: absolute;
        top: 75%;
        left: 24.5rem;
        font-size: 30px;
        font-weight: 500;
    }
    .container__second__frame1 {
        background-color: #ffffff;
        color: black;
        display: flex;
        position: absolute;
        top: 45rem;
        height: 25rem;
        width: 22rem;
        border-radius: 4rem;
        left: 1rem;
    }
    .container__socend__frame1__header {
        justify-items: center;
        height: 6rem;
        display: flex;
        position: absolute;
        padding-top: 3rem;
        font-family: 'Oswald';
        font-size: 2rem;
        width: 20rem;
        color: #425465;
        text-align: center;
        left: 1rem;
    }
    .container__second__parrafo {
        justify-items: center;
        height: 6rem;
        display: flex;
        position: absolute;
        left: 2rem;
        font-family: 'Oswald';
        font-size: 1.3rem;
        width: 20rem;
        color: black;
        text-align: center;
        top: 55rem;
    }
    .container__second__parrafo2 {
        justify-items: center;
        height: 6rem;
        display: flex;
        position: absolute;
        left: 5rem;
        font-size: 1rem;
        width: 25rem;
        color: #425465;
        text-align: center;
        top: 61rem;
    }
    .container__second__frame2 {
        background-color: #ffffff;
        color: black;
        display: flex;
        position: absolute;
        top: 71rem;
        left: 1rem;
        height: 25rem;
        width: 22rem;
        border-radius: 4rem;
    }
    .container__second__frame2__header {
        justify-items: center;
        height: 6rem;
        display: flex;
        position: absolute;
        left: 2.5rem;
        padding-top: 2rem;
        font-family: 'Oswald';
        font-size: 2.5rem;
        width: 25rem;
        color: #425465;
        text-align: center;
    }
    .location {
        justify-items: center;
        height: 2rem;
        display: flex;
        position: absolute;
        left: 2rem;
        padding-top: rem;
        font-family: Oswald, sans-serif;
        top: 77rem;
        width: auto;
    }
    .container__second__parrafo3 {
        justify-items: center;
        height: 6rem;
        display: flex;
        position: absolute;
        left: 4rem;
        padding-top: rem;
        font-family: Oswald, sans-serif;
        top: 77rem;
        font-size: 1.5rem;
        width: 25rem;
        color: black;
        text-align: center;
    }
    .container__second__frame2__header2 {
        justify-items: center;
        height: 6rem;
        display: flex;
        position: absolute;
        left: 4rem;
        top: 81rem;
        font-family: 'Oswald';
        font-size: 2rem;
        width: 25rem;
        color: #425465;
        text-align: center;
    }
    .cohete {
        justify-items: center;
        height: 3rem;
        display: flex;
        position: absolute;
        left: 1.5rem;
        top: 81rem;
        width: auto;
    }
    .argentina {
        justify-items: center;
        height: 10rem;
        display: flex;
        position: absolute;
        left: 3rem;
        top: 84rem;
        width: auto;
    }
    .andreani {
        justify-items: center;
        height: 5rem;
        display: flex;
        position: absolute;
        left: 10rem;
        top: 86rem;
        width: auto;
    }
    .container__section__subheader1 {
        justify-content: flex-start;
        text-align: center;
        font-size: 1.3rem;
        font-family: 'Oswald';
        color: #000000;
        display: flex;
        padding-top: 5rem;
        width: 50rem;
        letter-spacing: 0.2rem;
        display: inline-block;
        font-weight: 500;
        margin-left: 2rem;
    }
    .container__section__header1 {
        justify-content: flex-start;
        text-align: center;
        font-size: 2rem;
        padding-top: 1rem;
        font-family: 'Oswald';
        color: #425465;
        display: flex;
        margin-left: 15rem;
        width: 30rem;
        letter-spacing: 0.2rem;
        display: inline-block;
    }
    .container__section__description {
        justify-content: flex-start;
        text-align: center;
        font-size: 1.3rem;
        font-family: 'Oswald';
        color: #4d4c4c;
        padding-top: 1rem;
        width: 19rem;
        letter-spacing: 0.1rem;
        display: inline-block;
        font-weight: 400;
        margin-left: 20rem;
    }
    .container__section__sign {
        background-color: antiquewhite;
        color: black;
        height: 23rem;
        width: 20rem;
        border-radius: 2rem;
        display: inline-block;
        position: absolute;
        top: 123rem;
        left: 2rem;
    }
    .porcent {
        font-weight: 700;
        font-size: 3rem;
        margin: 0;
        font-family: 'Oswald';
        text-align: center;
        /* padding-top: 30px; */
        color: #425465;
    }
    .porcent__parraf {
        color: #999999;
        justify-content: center;
        text-align: center;
        font-size: 0.8rem;
        margin: 9px 0 0;
        font-family: 'Oswald';
        width: 10rem;
        padding-right: 1rem;
        letter-spacing: 1.4px;
    }
    .pros {
        height: 2rem;
    }
    .porcent2 {
        font-weight: 700;
        font-size: 3rem;
        margin: 0;
        font-family: 'Oswald';
        text-align: center;
        color: #425465;
        margin-top: -2rem;
    }
    .footer__social {
        font-family: 'Oswald';
        font-size: 1rem;
        color: #425465;
        text-align: center;
        display: inline-grid;
        position: absolute;
        padding-top: 15rem;
        left: 6rem;
    }
    .footer__img {
        justify-content: flex-start;
        display: inline-block;
        /* padding-left: 2rem; */
        padding-top: 15rem;
    }
    
    .footer_horarios {
        font-family: 'Oswald';
        text-align: center;
        display: inline-grid;
        position: absolute;
        left: 12rem;
        padding-top: 17rem;
        font-size: 1.2rem;
        width: 10rem;
    }
    .h4_footer{
        color: white;
    }
    .h3_footer{
        color: wheat;
    }
    .CardProduct {
        width: 350px;
        display: inline-block;
        padding-top: 30px;
        border-color: gray;
        border-style: solid;
        border-width: 2px;
        align-items: center;
        justify-items: center;
        margin-bottom: 20px;
        margin: auto;
    }
    .container__first__h3 {
        position: absolute;
        top: 70%;
        right: rem;
        font-family: 'Advent Pro', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        top: 10rem;
        left: 11rem;
    }
    .container__first__h2 {
        position: absolute;
        width: 780px;
        top: 13rem;
        left: 5rem;
        font-size: 1.5rem;
        font-weight: 500;
        text-shadow: 2px 1px 2px black;
        color: azure;
    }
    
}